@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'rubik';
  src: font-url('../../assets/fonts/static/Rubik-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html body {
  font-family: rubik;
}

.gradient-text {
  background: -webkit-linear-gradient(rgb(239, 239, 239), rgb(159, 159, 159));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}